.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  width: 100%;
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
}

#map {
  position: relative;
  bottom: 0;
  height: calc(100vh - 53px);
  width: 100vw;
}

.marker {
  width: 27px;
  height: 27px;
  cursor: pointer;
  background-size: cover;
}

.marker-EVENT {
  background-image: url(../resources/event.png);
}
.marker-ATTRACTION {
  background-image: url(../resources/attraction.png);
}
.marker-ADMINISTRATION {
  background-image: url(../resources/administration.png);
}
.marker-ACTIVITY {
  background-image: url(../resources/activity.png);
}

.mapboxgl-popup {
  max-width: 200px;
}

.event-name {
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
}

.event {
  margin: 5px 0;
}

.mapboxgl-popup-close-button {
  font-size: 30px;
  top: 5px;
  right: 5px;
}
.mapboxgl-popup-close-button:focus-visible {
  outline: none;
}

.mapboxgl-popup-content {
  border-radius: 10px;
}

.button {
  width: 150px;
  height: 35px;
  background: #62a5cb;
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
  margin: 5px auto;
}

.disabled{
  background: #ccc;
}

.map-container {
  display: flex;
}

.mapbox-gl-show_add_form {
  background-image: url("../resources/add.png");
  width: 35px !important;
  height: 35px !important;
  background-repeat: no-repeat;
  border: none;
  background-position: center;
  background-color: transparent;
  padding: 2px;
}

.mapboxgl-control-container, .mapboxgl-ctrl-group.mapboxgl-ctrl {
  background-color: transparent;
}


#marker-add{
  background-image: url("../resources/markerAdd.png");
  width: 35px;
  height: 40px;
  background-repeat: no-repeat;
  border: none;
  background-position: center;
  background-color: transparent;
}